<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejercicios</title>
    <link rel="stylesheet" href="../ccs/estilo.css" type="text/css">
    <script src="../js/metodos.js" type="text/javascript"></script>
</head>

<body>
    <header>
        <h1> Titulo</h1>
        <h2> SubTitulo</h2>
        <nav id="id-menu-principal-1">
            <ul>
                <li>
                    <a href="#"> Inicio</a>
                </li>
                <li>
                    <a href="#"> Productos</a>
                </li>
                <li>
                    <a href="#"> Servicios</a>
                </li>
                <li>
                    <a href="#"> Contactos</a>
                </li>
            </ul>
        </nav>
 </header>
 <section class="id-section-inicio">

 </section>
 <section class="id-class-segundos" id="id-section-suma1">
   
    <select id="id-mi-select" onchange="Sumar()">
        <option selected> Seleccione</option>
        <option> Suma</option>
        <option > Resta</option>
        <option > Multiplica</option>
        <option > Divide </option>
</select>

</section>
<section class="id-class-segundos" id="id-section-suma2" style="display: none;">
    <div id="id-section-suma2-1">
        <input type="text" id="id-inputX1" class="id-calculos" readonly />
        <h1 id="id-accion-calcula"></h1>
        <input type="text" id="id-inputY1" class="id-calculos" readonly />
        <input type="text" id="id-inputXY1" class="id-resultados"  />            
    </div>
    

</section>
<section class="id-class-segundos" id="id-section-suma3" style="display: none;">
    <input type="submit" id="id-inputAd1" class="id-calcular" value="Adicionar" onclick="Adicionar()" />
    <input type="submit" id="id-inputAd2" class="id-calcular" value="Comprobar" onclick="Comprobar()" />
</section>
<footer>  
        &copy; Mis Calculos
    </footer>


